name: Build, Push to ECR, Deploy to ECS

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: docker build -t node-ecr-app .

      - name: Tag Docker image
        run: |
          docker tag node-ecr-app:latest \
          ${{ steps.login-ecr.outputs.registry }}/node-ecr-app:latest

      - name: Push Docker image
        run: |
          docker push ${{ steps.login-ecr.outputs.registry }}/node-ecr-app:latest

      - name: Deploy to ECS
        uses: aws-actions/amazon-ecs-deploy-task-definition@v2
        with:
          cluster: arn:aws:ecs:eu-west-2:997753278599:cluster/node-fargate-clusterbusy-ostrich-6ev80p
          service: arn:aws:ecs:eu-west-2:997753278599:service/node-fargate-clusterbusy-ostrich-6ev80p/node-fargate-task-service
          task-definition: .github/ecs/task-definition.json
          image: ${{ steps.login-ecr.outputs.registry }}/node-ecr-app:latest
          wait-for-service-stability: true
